html,
body {
    display: flex;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #c10e6e, #eb3b49, #f67810, #e0b400, #a8eb12);
}
/* .main-body{
    height: 100%;
    /* margin: 0 */

} */
